<%- include("./partials/header.ejs") %>
<div class="box">
    <div class="flex-block">
        <div class="card bg-primary-subtle">
            <h1 class="px-3 pt-3"><%= month +", "+ date %></h1>
        <% if(locals.data) { %>
        <div class="card-body pt-0 mt-0">
            <% for(let i=0; i<data.length; i++){ %>
            <div class="card my-2 flex-row p-3">
                <input type="checkbox" id="myCheck" value="<%= i %>"><p class="strikethrough m-0 px-2"><%= data[i] %></p>
            </div>
            <%  }; %>
        </div>
        <% } %>
        </div>
        <form action="/worktodo" method="post">
            <div class="input-group flex-nowrap mt-3">
                <input type="text" name="workTodo" placeholder="Enter your work task" class="form-control p-3"/>
                <input type="submit" name="add" class="btn btn-primary p-3" value="+">
            </div>
        </form>
    </div>
</div>
<%- include("./partials/footer.ejs") %>